.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.feature-image {
    flex-basis: 50%;
}

.feature-image img {
    height: 100%;
    width: 100%;
    max-width: 500px; /* Adjust as necessary for your layout */
    display: block;
    margin-left: 300px;
}

.feature-details {
    flex-basis: 50%;
    padding-left: 20px;
}

.feature {
    background-color: #a9def5;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 65%;
    height: 150px;
}

.feature1 {
    background-color: #ececec;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 65%;
    height: 150px;
    color: #827d7d;
}


.feature2 h2 {
    color: #080808;
    margin-top: 0;
    height: 100px;
    width: 500px;
}

.feature h2 {
    color: #333;
    margin-top: 0;
}

.feature p {
    color: #666;
}

/* Style the icons with a background-image if you have one */
.icon-ring,
.icon-location {
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
}

.icon-ring {
    background-image: url('ringi-icon.png');
    color: #7bdbf3;
}

.icon-location {
    background-image: url('location-icon.png');
}

.features-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-box {
    flex-basis: 35%; /* Adjust the width as necessary */
    background-color: #92f2ff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    height: 300px;
    width: 10px;
}

.feature-icon {
    margin-right: 20px;
}

.feature-icon img {
    height: 60px; /* Adjust size as needed */
}

.feature-info h2 {
    color: #333;
    margin: 0 0 10px 0;
}

.feature-info p {
    color: #666;
}

.feature-illustration-box {
    flex-basis: 35%; /* Adjust the width as necessary */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-right: 200px;
}

.feature-illustration-box img {
    max-width: 100%;
    height: auto;
}

/* Next Item */
.features-container1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-box1 {
    flex-basis: 35%; /* Adjust the width as necessary */
    background-color: #9bf5ff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 220px;
    height: 400px;
    width: 10px;
}

.feature-icon1 {
    margin-right: 20px;
}

.feature-icon1 img {
    height: 60px; /* Adjust size as needed */
}

.feature-info1 h2 {
    color: #333;
    margin: 0 0 10px 0;
}

.feature-info1 p {
    color: #666;
}

.feature-illustration-box1 {
    flex-basis: 70%; /* Adjust the width as necessary */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -25px; */
    margin-left: 12px;
}

.feature-illustration-box1 img {
    max-width: 100%;
    height: auto;
}

/* Next Item */

.features-container2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-box2 {
    flex-basis: 45%; /* Adjust the width as necessary */
    background-color: #9bf5ff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    height: 400px;
    width: 50px;
}

.feature-icon2 {
    margin-right: 20px;
}

.feature-icon2 img {
    height: 60px; /* Adjust size as needed */
}

.feature-info2 h2 {
    color: #333;
    margin: 0 0 10px 0;
}

.feature-info2 p {
    color: #666;
}

.feature-illustration-box2 {
    flex-basis: 90%; /* Adjust the width as necessary */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -25px; */
    margin-right:50px;
}

.feature-illustration-box2 img {
    max-width: 100%;
    height: auto;
}

/* Next Item */

.features-container3 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-box3 {
    flex-basis: 75%; /* Adjust the width as necessary */
    background-color: #9bf5ff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 220px;
    height: 400px;
    width: 50px;
}

.feature-icon3 {
    margin-right: 20px;
}

.feature-icon3 img {
    height: 60px; /* Adjust size as needed */
}

.feature-info3 h2 {
    color: #333;
    margin: 0 0 10px 0;
}

.feature-info3 p {
    color: #666;
}

.feature-illustration-box3 {
    flex-basis: 145%; /* Adjust the width as necessary */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -25px; */
    margin-left:25px;
}

.feature-illustration-box3 img {
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 15vh; /* Full viewport height */
}

/* Optional: Style the sentence */
.sentence {
    font-weight: bold;
    font-size: 39px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color as needed */
}


/* Next item */
.interactive-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container img {
    width: 60%;
    max-width: 400px; /* Adjust as necessary */
    height: auto;
    margin-left : 350px;
    margin-top: 100px;
    display: block; /* Removes the bottom margin/padding that inline elements have */
    object-fit: cover; /* Ensures the image covers the area without distorting the aspect ratio */
    object-position: center; /* Centers the image within the element box */
}

.options-container ul {
    list-style: none;
    padding: 0;
    height: 800px;
    margin: 0;
}

.options-container li {
    cursor: pointer;
    max-width: 400px; /* Adjust as necessary */
    height: auto;
    margin-right: 300px;
    margin-top: 100px;
    font-size: x-large;
    display: block; /* Removes the bottom margin/padding that inline elements have */
    object-fit: cover; /* Ensures the image covers the area without distorting the aspect ratio */
    object-position: center; 
    transition: background-color 3.9s ease;
    background-color: #f0f0f0; /* Optional: Changes the background color on hover */
}

.options-container li:hover {
    background-color: #e0e0e0; /* A slightly darker color on hover */
}

/* Next:item */

.features-container4 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.feature-info4 h2 {
    color: #333;
    margin: 0 0 10px 0;
    margin-top: 150px;
    /* margin-right: 400px; */
    margin-right: 400px;
    width: 400px;
    font-size: xx-large;
    /* margin-top: 340px; */
}

.feature-info4 p {
    color: #666;
    /* margin-right: 400px; */
    margin-right: 400px;
    height: 500px;
    width: 400px;
    font-size: 25px;
}

.feature-box4 {
    flex-basis: 100%; /* Adjust the width as necessary */
    background-color: #9bf5ff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 220px;
    height: 400px;
    width: 50px;
}

.feature-illustration-box4 {
    flex-basis: 145%; /* Adjust the width as necessary */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -84px;
    margin-left:230px;
}

.feature-illustration-box5 {
    flex-basis: 145%; /* Adjust the width as necessary */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    margin-right:500px;
}
.feature-illustration-box5 img {
    max-width: 100%;
    height:auto;
    /* width: 220px; */
    margin-top: -800px;
    margin-right: 72px;
}
.feature-illustration-box4 img {
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 15vh; /* Full viewport height */
}

.container1 {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 15vh; /* Full viewport height */
    margin-top: -150px;
}


/* wallets */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.wallet {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 0 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* width: calc(18.5% - 11px); */
    width: calc(20% - 30px);
    height: 250px;
    display: inline;
}

.wallet:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.wallet.name {
    font-weight: bold;
    margin-bottom: 10px;
}
.wallet.price {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}
.wallet.btn {
    background-color: #000509;
    color: #1db8fa;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.wallet.btn:hover {
    background-color: #5268f8;
}